body {
  background-color: black;
  color: white;
  font-family: 'Impact', sans-serif;
  text-align: center;
  padding: 20px;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  
}

header nav{
  position: relative;
  display: flex;
  margin: 15px;
}

button {
  letter-spacing: -0.3px;
  align-items: center;
  white-space: nowrap;
  display: flex;
  --accent: rgba(255, 255, 255, 0.471);
  font-weight: bold;
  letter-spacing: 0.1em;
  border-radius: 5px;
  border-color: aliceblue;
  background-color: #212121;
  cursor: pointer;
  color: white;
  padding: 8px 10px;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  flex-direction: column;
  margin: 4px 25px;
  width: 190px;
  
}

button:hover {
  box-shadow: var(--hover-shadows);
}

button:active {
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}

.padre {
  display: flex;
  justify-content: center;
}

.programacion {
  margin-top: 20px;
}

.botonescaballos {
  margin-left: 11px;
  
}

h1 {
  color: white;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0px;
  padding-top: 0px;
}

h2 {
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: end;
}

/* --- MEDIA QUERIES PARA RESPONSIVIDAD --- */

/* Pantallas hasta 768px (tablets y móviles grandes) */
@media (max-width: 768px) {

 

  .padre {
    flex-direction: column;
    align-items: center;
    
  }

  button {
    position: relative;
    display: flex;
    width: 70%;
    margin-right: px;
    
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 14px;
  }

  nav {
    display: flex;
    margin-left: 200px;
  
    width: 50%;
  }
}

/* Pantallas hasta 480px (móviles pequeños) */
@media (max-width: 480px) {



  button {
    width: 100%;
    font-size: 10px;
    padding: 10px ;
    
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  .botonescaballos {
    margin-left: 10px;
   
  }
}

